$primaryColor: #004baa;
$successColor: #0fad32;
$warningColor: #ed933b;
$dangerColor: #d33231;
$fontColorLevel3: #595959;
$fontColorLevel4: #696969;
$fontColorLevel5: #909399;
$borderColor: #E3E3E3;
$linkHoverColor: #004baa;
